body{
    margin: 0%;
    padding: 0%;
}

.a1
{
    background-color: #688bec;
  margin-bottom: 0;
  padding: 0;


}

.a2
{
    background-color: #8a90e2;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
}

.a3
{
    background-color: #7bc4e0;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
}

.a4
{
    background-color: #8a90e2;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
}