body{
    padding: 0;
    margin: 0;
}

table,td,th{
    border: 1px solid black;
}

#top{
    text-align: left;
    background-color: chartreuse;
}

th{
    font-weight: normal;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

#left{
    height: 50px;
}

#l1{
    background-color: darkcyan;
}