.a{
    border: 10px solid black;
    background-color: aquamarine;
    
}

.b{
    border: 6px solid black; 
    background-color: aquamarine;
}

.c{
    border: 3px solid black;
    background-color: aquamarine;
}